@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: linear-gradient(-45deg, #1ac09f,#a22157, #1b7b9f);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
